mat-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}
.sidenav {
  width: 250px;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.mat-nav-list .mat-list-item{
  color:rgba(white, 1);
}