md-card {
  margin: 15px;
}
md-card-title {
  margin-bottom: 50px;
}
md-card-actions {
  margin-bottom: 0px;
}
.question-form {
  width: 90%;
}
.full-width {
  width: 100%;
}
/deep/mat-input-container.ng-invalid.ng-touched .ng-input-underline{
  border-color:red;
}
/deep/mat-hint.error, .error{
  color:red;
}